@import "tailwindcss";

/*--------Universal Background------*/
.background{
    background-color: rgb(90, 164, 191);
}



.Navbar{
    display: flex;
    height:auto;
}

.Navbutton{
    display: flex;
}

.dropdown:hover{
    cursor:grab;
}

.dropdown-menu{
    opacity:1;
    visibility: hidden;
    transition:all;
    display:flex;
    flex-direction: column;
}

.dropdown:hover .dropdown-menu{
    opacity:1;
    visibility:visible
}